# Core AI and CV libraries
torch>=2.0.0
torchvision
torchaudio
ultralytics==8.3.226
opencv-python-headless==4.12.0.88

# Data handling
numpy
pandas
scipy

# Text-to-speech
gTTS

# Communication & APIs
requests
openai==2.7.1

# Monitoring / Visualization
matplotlib
psutil


